.mk7slider {
	.innerWide { width: 100%; }
	.slide { width: 100%; height: 100vh; background: transparent none no-repeat center center / cover; }
	.slideText { @include centeringAbsolute;  max-width: 500px; color: #666; background-color: rgba(255,255,255,0.86); font-weight: bold; padding: 20px;letter-spacing: 2px; 
		h2 { font-size: 30px}
		span.subheader { font-size: 18px; }
		p,a { font-size: 13px;}
	}
	
	.heightResponsive .slide { height: 60vw; }
	
	//2nd slider
	.slides2 {position:absolute;bottom:0;left:50%;transform:translate(-50%,0%);color:#000;width:400px;height:200px;background-color:rgba(255,255,255,0.89);
		.slideOverlay { text-align: center; padding: 20px;}
	}
	
	
	

	.fxFade {
		.flickity-slider{transform:none!important;}
		.slide{left:0!important;opacity:0;transition:opacity .3s ease-in-out; z-index:-1;}
		.slide.is-selected{opacity:1;z-index:0;}	

	}

}


// if two-col template chosen
body.two_col { padding-top:100vh;	
	.contentPic { position: fixed; top:0; width: 100%; height: 100vh;
		.mk7slider {height: 100vh;} 
		.ceOut, .ceIn, .mk7slider, .slides { height: 100%; }
	}
}

