/*
┌────────────────────────────────────┐
	Variables
└────────────────────────────────────┘
*/

$imgPath: "/fileadmin/mk7/img/";
$fontPath: "/fileadmin/mk7/fonts/";

$maxWidth: 1300px;



$colCorp: #000;
$colAct: #ff3939;

$blue: #0000ea;


// Fonts
$bodyFontSize: 1.6rem;

$h1size: 4rem; 
$h2size: 4rem; 
$h3size: 3rem;
$h4size: 2.4rem;



// Paddings
$pad: 20px;



// Breakpoints
$phone-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1400px;
